# Dependencies
/node_modules

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package lock files
package-lock.json
yarn.lock
